<h1>PSKLRMRFI</h1>
<div id="manufacturer_viewer">
  <h3>Manufacturers</h3>
  <%= @manufacturers.name %>
</div> 

<div id="robots_viewer">
  <h3>Robots In Inventory</h3>
  <% @robots.each do |robot| %>
    <ul>
      <li>
      <%= link_to robot.designation, robot %>
      </li>
    </ul>
  <% end %>
</div>

<div id="pending_viewer">
  <h3>In Queue</h3>
  <% @robots.each do |robot| %>
    <% if robot.pending == true %>
    <%= link_to robot.model_no, robot %>
    <% end %>
  <% end %>
</div>

