
<div class="home_link">
  <h1><%= link_to 'PSKLRMRFI', robots_path, class: 'home-link' %></h1>
</div>

<main id="main-homepage">
<div class="container centered">
  <ul class="nav nav-tabs">
    <li class="active"><a id="link1" href="#tab1" data-toggle="tab">Manufacturers</a></li>
    <li><a id="link2" href="#tab2" data-toggle="tab">Robots In Inventory</a></li>
    <li><a id="link3" href="#tab3" data-toggle="tab">Queue</a></li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="tab1">
      <section class="robots-section">
        <h3>Manufacturers</h3>
        <% @manufacturers.each do |manufacturer| %>
          <ul>
            <li>
            <%= link_to manufacturer.name, manufacturer %>
            </li>
          </ul>
        <% end %>
      </section>
    </div><!-- end tab-pane -->

    <div class="tab-pane" id="tab2">
      <section class="robots-section">
        <h3>Robots In Inventory</h3>
        <% @robots.each do |robot| %>
          <ul>
            <% unless robot.pending %>
              <li>
                <%= link_to robot.designation, robot %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </section>
    </div><!-- end tab-pane -->

    <div class="tab-pane" id="tab3">

      <section class="robots-section">
        <h3>In Queue</h3>
        <% @robots.each do |robot| %>
          <ul>
            <% if robot.pending %>
              <li>
                <%= link_to robot.model_no, robot %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </section>

    </div><!-- end tab-pane -->

  </div><!-- end tab-content -->
</div>
</main>
