<h2 class='prototype-details'><%= @prototype.model_no %></h2>
<div>
  <ul>
    <li>Manufactured by: <%= @manufacturer.name %></li>
    <li>Height: <%= @prototype.height %></li>
    <li>Weight: <%= @prototype.weight %></li>
  </ul>
</div>
