<section class="individual-item-container">
  <div id="prototype-container">
    <h2 class='prototype-details'><%= @prototype.model_no %></h2>
    <%= render partial: 'show', locals: {prototype: @prototype} %>
  </div>
</section>
