<section class="individual-item-container prototype-details">
  <div id="prototype-container">
    <h2><%= @prototype.model_no %></h2>
    <%= render partial: 'show', locals: {prototype: @prototype} %>
  </div>
</section>
