<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Congratulations!!</title>
  </head>
  <body>
    <h2>Congratulations on the purchase of your new robot!!!</h2>

    You have successfully purchased a <%= @robot.model_no %> from the Puget Sound
    Karate League Resistance Movement Robot Factory Inventory!

  </body>
</html>
