.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.home-container {
  margin: 20% 40%;
  text-align: center;
  border: solid 1px black;
  padding-bottom: 20px;
  text-shadow: -1px -1px 0 rgba(0,0,0,.2);
}

.tina-container {
  margin: 20% 40%;
  text-align: center;
  border: solid 1px black;
  padding: 20px;
  font-weight: 400;
  text-shadow: -1px -1px 0 rgba(0,0,0,.2);
}

.stealthy-login {
  position: absolute;
  bottom: 0;
  right: 0;
  text-shadow: -1px -1px 0 rgba(0,0,0,.2);
}

.nav nav-tabs{
  padding: 0;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
