body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #A9A9A9;
}

#main-homepage {
  width: 100%;
  height: 100%;
}

.manufacturer_viewer_left {
    width: 20%;
    height: 75%;
    float: left;
    margin-left: 2%;
    border-collapse: collapse;
    border: solid 2px black;
    border-radius: 10px;
    border-spacing: 10px;
    background-color: #F6F8DC;
    text
}

.robots_viewer_middle {
    width: 45%;
    height: 75%;
    margin-left: 6%;
    border-collapse: collapse;
    display: inline-block;
    border: solid 2px black;
    border-radius: 10px;
    border-spacing: 10px;
    background-color: #F6F8DC;
    text-align: center;

}

.header_left {
  display: inline-flex;
  max-width: 50%;
  margin-left: 2em;
}

.header_mid {
  display: inline-flex;
  max-width: 50%;
  padding-left: 10em;
}

.header_right {
  display: inline-flex;
  max-width: 50%;
  padding-left: 10em;

}

.pending_viewer_right {
  width: 20%;
  height: 75%;
  margin-right: 2%;
  position: relative;
  float: right;
  display: inline-block;
  border-collapse: collapse;
  border: solid 2px black;
  border-radius: 10px;
  border-spacing: 10px;
  background-color: #F6F8DC;
  overflow: auto;

}

.top-title {
  width: 100%;
  border: solid 2px black;
  margin-bottom: 10px;
  text-align: center;
  background-color: #F6F8DC;
  border-radius: 10px;
}

a {
  color: black;
}

a:hover {
  color: #C0C0C0;
  text-decoration: none;
}

ul {
  list-style-type: none;
  align-content: center;
}

li {
  font-size: 16px;
}
