#welcome_container {
  margin-left: 5%;
  margin-top: 2%;
}

#welcome {
 display: inline-flex
}

#log-out {
  display: inline-flex;
}

.home_link {
  text-align: center;
  border: 2px solid #D7D4CF;
  font-family: lato;
  color: limegreen;
  border-radius: 5px;
  background-color: #808080;
  max-width: 75%;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: .5em;
}

ul {
  margin: auto;
  text-align: center;
  vertical-align: center;
  list-style: none;
  padding-left: 0;
  margin-bottom: .3em;
  margin-top: .3em
}

.individual-item-container {
  text-align: center;
  width: 45%;
  height: 75%;
  margin: auto;
  border: solid 2px black;
  border-radius: 10px;
  border-spacing: 10px;
  background-color: #F6F8DC;

}

.center-show-info {

}

.robot_show_title {
  font-size: 32px;
}

.robot_show_designation, .robot_show_model_no {
  font-size: 24px;
}
