

input {
  display: block;
  background-color: rgba(40,96,144,.2);
  border: 2px solid rgba(40,96,144,.2);
  border-radius: 5px;
  margin: auto;
}

.form_header {
  text-align: center;
  padding-bottom: 1em;
  color: rgba(40,96,144,1);
}

.form_btn {
  margin: .5em;
}

.registration_form {
  // border: 2px solid lime;
  font-family: lato;
  border-radius: 15px;
  min-width: 20%;
  max-width: 30%;
  margin: auto;
  padding-bottom: 1em;
  padding-top: 2em;
  text-align: center;
  background: -webkit-linear-gradient(top, rgba(40,96,144,.2), rgba(255,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(40,96,144,.2), rgba(255,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(40,96,144,.2), rgba(255,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(40,96,144,.2), rgba(255,0,0,0)); /* Standard syntax (must be last) */
}
