#gtfo {
  background: -webkit-linear-gradient(left, rgba(40,96,144,.2), rgba(255,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, rgba(246, 248, 220,.2), rgba(255,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, rgba(246, 248, 220,.2), rgba(255,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, rgba(246, 248, 220,0), rgba(246, 248, 220,.5)); /* Standard syntax (must be last) */
    font-family: lato;
  text-align: center;
  padding: .5em;
  margin-bottom: 3em;
  color: rgba(246, 248, 220,1)
}

label {
  color: rgba(246, 248, 220,1);
  // color: rgba(40,96,144,1);
  letter-spacing: 2px;
  font-family: lato;
}

input {
  display: block;
  background-color: rgba(40,96,144,.2);
  border: 2px solid rgba(40,96,144,.2);
  border-radius: 5px;
  margin: auto;
}

.form_header {
  text-align: center;
  padding-bottom: 1em;
  color: rgba(246, 248, 220,1);
}

.btn {
  margin: .5em;
  background-color: #777674;
  border: 0px;
  color: rgba(246, 248, 220,1)
}

.btn:hover {
  margin: .5em;
  background-color: rgb(169, 169, 169);
  border: 0px;
  color: rgba(246, 248, 220,1)
}

.registration_form {
  // border: 2px solid lime;
  font-family: lato;
  border-radius: 15px;
  min-width: 169px;
  max-width: 30%;
  margin: auto;
  padding-bottom: 1em;
  padding-top: 2em;
  text-align: center;
  background: -webkit-linear-gradient(top, rgba(40,96,144,.2), rgba(255,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(246, 248, 220,.2), rgba(255,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(246, 248, 220,.2), rgba(255,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(246, 248, 220,0), rgba(246, 248, 220,.5)); /* Standard syntax (must be last) */
}


@media screen and (max-width: 500px) and (min-width: 10px) {
  h1 {
    font-size: 35pt;
    margin: 3px;
    font-size: 3vh;
  }

  headers {
    font-size: 3vh;
  }

  .registration_form{
    min-width: 80%;
    font-size: 2.5vh;
  }

  .btn {
    margin-left: 0;
    margin-right: 0;
    display: inline-grid;
    font-size: 18pt;

  }

}

@media screen and (max-width: 300px) and (min-width: 10px) {

  .registration_form {
    border: none;
  }

  label {
    font-size: .8vh;
  }

  input {
    font-size: .8vh;
    margin-right: 4px;
    margin-left: 4px;
  }

  .btn {
    margin-left: 0;
    margin-right: 0;
    display: inline-grid;
    font-size: 10pt;
  }

}

