 <div class='home-container'>
  <h1>HOW LONG IS YOUR ARM?</h1>
  <div>
    <a href='/tina' class="button">Longer than standard human length.</a>
  </div>
  <div>
    <a href='/login_tina' class="button">Standard, human length.</a>
  </div>
</div>
