<nav class="home_link">
  <h1><%= link_to 'PSKLRMRFI', robots_path, class: 'home-link' %></h1>
</nav>

<section class="individual-item-container">
  <h1><%= @manufacturer.name %></h1>

  <% @manufacturer.prototypes.each do |prototype| %>
    <h2><%= link_to prototype.model_no, prototype, remote: true, class: 'prototype-link', id: "prototype-info-link-#{prototype.id}" %></h2>
  <% end %>
</section>
