<!DOCTYPE html>
<html>
  <head>
    <title>PsklrMrfi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user_commissioner? %>
    <a href="/logout">Log out</a>
    <% end %>
    <%= yield %>
  </body>
</html>
